.animated-text-wrapper {
    width: max-content;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}

.animated-text-item {
    position: relative;
}

.animated-text-container {
    overflow: hidden;
}
